@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Comfortaa&family=Montserrat:wght@300&display=swap');

header, section, footer, aside, nav, article, figure, figcaption 
{
	display: block;
}


* {
    box-sizing: border-box;
 }

body
{
	margin: 0px;
	background-color: #FEE7BC;
	line-height: 1.4em;
}

.profile h3, .transaction h3, .itemsImg h3
{
	font-family: Garamond,Georgia,serif;
	font-variant: small-caps;
	color: #840000;
	font-size: 40px;
	text-align: center;   
}

.header-border
{
	position: sticky;
	top: 0;
	z-index: 1;
	margin: 0;
	padding: 0;
	height: 100px;
	width: 100%;
	background-color: #F89F35;
}

.header-content
{
	display: flex;
	width: 80%;
	margin: auto;
}

.slogan
{
	flex: 20%;
	margin-top: 45px;
	margin-left: 8px;
	font: 22px 'comfortaa', cursive;
	color: #1c171a;
}

.header-content div
{	
	flex: 40% ;
	text-align: right;
	font: 18px 'Arvo', serif;
}

.logo
{
	flex: 45%;
	margin-top: 27px;
	height: 45px;
}

.bold
{
	font-weight: bold;
	font-size: 20px;
}

.sidenav
{
	margin: auto;
	height: 100%;
	width: 230px;
	position: fixed;
	float: left;
	z-index: 1;
	left: 0;
	background-color: #F9B131;
	overflow-x: hidden;
	padding-top: 0px;
	text-align: center;
}

.sidenav a
{
	padding: 25px 10px 25px 10px;
	text-decoration: none;
	text-align: center;
	font-size: 25px;
	color: #FFFFFB;
	font: bold 18px 'Montserrat', san-serif;
	display: block;  
}

.sidenav a:hover
{
	background-color: #FFFFFB;
	color: #F9B131;
}

.sidenav a.active
{
	background-color: #fbe0ad;
	color: #1c171a;
}

.sidenav span 
{
	display: grid;
	grid: 'icon text text';
}

.sidenav img 
{
	grid-area: icon;
	width: 30px;
	height: 30px;
	margin-left: 5px;
}

.fixed
{
	position: fixed;
	bottom: 8px;
	width: 230px;
	background-color: #FCD272;
} 

.fixed a
{
	color: black;
} 

.icon-bar
{
	display: flex;
	width: 230px;
	background-color: #F9B131 !important;
}

.icon-bar a
{
	display: block;
	width: 115px;
	text-align: center;
	padding: 16px;
	transition: all 0.3s ease;
	color: #fffffb !important;
	font-size: 25px;
}

.icon-bar a:hover
{
	background-color: #f4c095;
}

@media screen and (max-height: 450px)
{
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}

.member
{
  display: grid;
  width: auto;
  margin: auto;
  margin-left: 250px;
  margin-right: 10px;
  grid-template-columns: auto auto;
  grid-gap: 50px;
  background-color: #FEE7BC;
  padding: 40px 30px 30px;
}

.member > div
{
  background-color: #FCD272;
  text-align: justify;
  padding: 20px;
}

.itemsImg
{
  grid-area: 1 / 1 / span 2 / span 1;
  width: auto;
  height: auto;
  justify-content: center;
}

.productImg {
	height: 300px; 
	width: 300px;
	margin-left: 50px;
	margin-right: 50px;
}

.chart
{
  grid-area: 1 / 2;
  width: auto;
}

.chart h4 {
	font: 24px 'Arvo', serif;
	margin-left: 50px;
}

.description
{
  grid-area: 2 / 2;
  width: auto;
  font: 28px 'Arvo', serif;
}

.profile, .transaction
{  
	font-size: 40px;
	text-align: center;
	margin-bottom: 50px;
	margin-left: 300px;
	margin-top: 20px;
	padding-left: 30px;
	padding-right: 80px;
	text-align: center;
	width: 70%;
}

.profileTitle, .transTitle
{  
	border-style: solid;
	border-radius: 30px;
	border-color: maroon;
	background-color: white;
	border-width: 3px;
	padding:auto;
	margin-top: 30px;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 150px;
	text-align: center;
}

.checkout
{  
	text-align: center;
	margin-bottom: 50px;
	margin-left: 300px;
	margin-top: 20px;
	padding-left: 30px;
	padding-right: 80px;
	width: 70%;
}

.notice {
	font: 26px 'comfortaa', cursive;
}

.notification {
	text-align: center;
}

.button {
	border: none;
  	border-radius: 8px;
  	background-color: #f77a1f;
  	padding: 14px 28px;
  	color: #FFFFFB;
  	text-align: center;
  	font: 18px 'Montserrat', sans-serif;
  	margin-right: auto;
	margin-left: 120px;
	margin-top: 20px;
  	cursor: pointer;
  	display: inline-block;
}

.button:hover {
	background-color: #ff531a;
}

.tableDisplay th, .tableDisplay td
{
	border:3px solid black;
	padding:5px;
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
	border-radius: 3px;
	font: 18px 'Arvo', serif;
}

.footer
{
  text-align: center;
  position: bottom;
  height: auto;
  width: auto;
  margin-top: 20px;
  margin-bottom: -10px;
  margin-left: 200px;
  background-color: #F89F35;
  font: 16px 'Arvo', serif;
}

.footer h2
{
  font: bold 27px 'comfortaa', cursive;
  padding: 20px 0 0 0;
}

.footer p
{
  padding-top: -5px;
}

.policy
{
  width: 100%;
  text-align: center;
  font-size: 12px;
  padding-bottom: 2px;
}